<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibLog" version="4.2.6" targetFramework="net452" developmentDependency="true" />
  <package id="LiquidProjections.Abstractions" version="2.0.0" targetFramework="net45" />
  <package id="NEventStore" version="5.0.1.2" targetFramework="net45" />
</packages>